.link {
  text-decoration: none;
  color: #fff;
}

.order {
  background: #1C1C21;
  border-radius: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.basic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  max-width: 520px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

