.input_container {
  width: fit-content;
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 480px;
  /* justify-content: space-between; */
}

.input {
  display: flex;
  cursor: text;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: var(--background-element);
  border: 2px solid var(--background-element);
  border-radius: var(--common-border-radius-s);
  transition: 0.3s;
  position: relative;
  min-width: 480px;
  min-height: 64px;
  color: var(--text-primary-color);
}

.input_placeholder {
  display: block;
  position: absolute;
  cursor: text;
  top: 5px;
  left: 26px;
  text-align: left;
  color: var(--text-inactive-color);
  transition: 0.3s;
  z-index: 10;
}

.input:focus {
  outline: none;
  border: 2px solid var(--colors-interface-accent);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--background-element) inset !important;
}

.icon {
  position: absolute;
  right: 24px;
}

.disabled {
  pointer-events: none;
}