.profile {
  margin: 180px auto;
  border: 1px solid red; 
  display: grid;
  max-width: 860px;
  width: 100%;
  grid-column-gap: 60px;
  grid-template-columns: 320px 480px
  /* grid-template-columns: 320px auto; */
}

.nav_item {
  height: 64px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.active, .active path{
  color: #fff;
  fill: #fff;
}

.nav_item:hover path, .nav_item:hover{
  transition: all 0.8s ease;
  fill: #fff;
  color: #fff;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text {
  margin: 0;
}

.inputs, .buttons {
  margin: 0 0 0 auto;
}