.profile {
  margin: 0 auto;
  display: grid;
  max-width: 860px;
  width: 100%;
  grid-column-gap: 60px;
  grid-template-columns: 320px 480px;
}

.text {
  margin: 0;
}

.buttons {
  margin: 0 0 0 auto;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.invisible {
  pointer-events: none;
  opacity: .6;
  margin: 0 0 0 auto;
}

.buttons {
  opacity: 1;
}