.profile {
  margin: 0 auto;
  display: grid;
  max-width: 1240px;
  width: 100%;
  grid-column-gap: 60px;
  grid-template-columns: 320px 480px;
  justify-content: center;
}

.text {
  margin: 0;
}

.buttons {
  margin: 0 0 0 auto;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.invisible {
  pointer-events: none;
  opacity: .6;
  margin: 0 0 0 auto;
}

.buttons {
  opacity: 1;
}

.input_container {
  width: fit-content;
  text-align: left;
}

.input {
  display: flex;
  cursor: text;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: var(--background-element);
  border: 2px solid var(--background-element);
  border-radius: var(--common-border-radius-s);
  transition: 0.3s;
  position: relative;
}

.input_size_default {
  min-width: 480px;
  min-height: 64px;
}

.input_placeholder {
  display: block;
  position: absolute;
  cursor: text;
  top: 8px;
  text-align: left;
  color: var(--text-inactive-color);
  transition: 0.3s;
}

.input_textfield {
  display: block;
  cursor: text;
  background-color: transparent;
  border: none;
  width: 100%;
  color: var(--text-primary-color);
  margin-top: 16px !important;
}

.input_textfield:focus {
  outline: none;
}

.input_placeholder_focused {
  top: 8
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
  -webkit-box-shadow: 0 0 0 30px var(--background-element) inset !important;
}

.input_status_active {
  /*box-shadow: 0 0 5px #4C4CFF;*/
  composes: input;
  border: 2px solid var(--colors-interface-accent);
}