.main {
  max-height: 720px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.number {
  position: absolute;
  top: 63px;
  left: 40px;
}

.title {
  max-width: 640px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.green {
  color: #00CCCC;
  text-align: left;
}

.ingredients {
  max-height: 312px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.ingredients::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

.ingredients::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.total {
  display: flex; 
}

.ingredient {
  display: flex;
  justify-content: space-between;
}

.image {
  composes: image from '../order/order.module.css'
}

.round {
  composes: round from '../order/order.module.css';
}

.item_name {
  text-align: left;
  max-width: 414px;
}

.name_info, .prices {
  display: flex;
  align-items: center;
}
