.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.food_list {
  composes: menu from '../BurgerIngredients/BurgerIngredients.module.css';
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: calc(100vh - 476px);
}

.food_item {
  display: flex;
  align-items: center;
}

.order {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.price {
  display: flex;
  flex-direction: row;
}