.ingredient {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.price {
  display: flex;
  justify-content: center;
}

.title {
  min-height: 48px;
  text-align: center;
}

.link {
  text-decoration: none;
  color: #fff;
}