.container {
  background-color: #1C1C21;
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}