.container {
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.food_list {
  composes: menu from '../burger-ingredients/burger-ingredients.module.css';
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: calc(100vh - 476px);
  width: 100%;
}

.order {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.price {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.hover {
  box-shadow: 0px 4px 32px rgba(51, 51, 255, 0.5), 
  0px 0px 8px rgba(51, 51, 255, 0.25), 
  0px 0px 16px rgba(51, 51, 255, 0.25);
}