.complete_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.number {
  color: rgba(0, 204, 204, 1);
}

.status {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
}

.container {
  composes: container from '../burder-constructor/burder-constructor.module.css';
}