.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));;
  gap: 8px;
  max-height: 310px;
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

.list::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.number {
  color: rgba(0, 204, 204, 1);
}

.status {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
}