@import url('./vendor/normalize.css');
@import url('./fonts/fonts.css');

#root {
  
  box-sizing: border-box;
  font-family: 'JetBrains Mono', Arial, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
  max-width: 1240px;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: #131316;
  color: #F2F2F3;
  ;
}
