.list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.tab {
  text-decoration: inherit;
  color: inherit;
}

.menu {
  max-height: calc(100vh - 196px);
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.type {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  column-gap: 24px;
  row-gap: 32px;
}

.title {
  text-align: left;
}

.menu::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

.menu::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}